# LangChain
langchain-qdrant
langchain-huggingface
langchain-community

# Vector DB
qdrant-client

# Embeddings
sentence-transformers

# Reranking
cohere

# API
fastapi
uvicorn
pydantic

# Utilities
python-dotenv